USE [g3shop]
GO
/****** Object:  Table [dbo].[account]    Script Date: 4/22/2022 7:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](150) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[password] [varchar](150) NOT NULL,
	[date_of_bird] [date] NULL,
	[phone] [bigint] NULL,
	[email] [varchar](150) NULL,
	[role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 4/22/2022 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[total_to_paid] [int] NOT NULL,
	[pay_type] [varchar](50) NOT NULL,
	[pay_status] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[date] [datetime] NOT NULL,
	[fullname] [nvarchar](100) NULL,
	[email] [nvarchar](150) NULL,
	[country] [nvarchar](150) NULL,
	[b_address] [nvarchar](150) NULL,
	[card_number] [bigint] NULL,
	[name_on_card] [nvarchar](150) NULL,
	[postalCode] [nvarchar](8) NULL,
 CONSTRAINT [PK_bill] PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_product]    Script Date: 4/22/2022 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_product](
	[bill_id] [int] NOT NULL,
	[product_name] [varchar](150) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_account]    Script Date: 4/22/2022 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_account](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
 CONSTRAINT [PK_cart_account] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_detail]    Script Date: 4/22/2022 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_detail](
	[cart_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 4/22/2022 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[product_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[cmt] [nvarchar](960) NOT NULL,
	[cmtDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genre]    Script Date: 4/22/2022 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genre](
	[genre_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_genre] PRIMARY KEY CLUSTERED 
(
	[genre_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 4/22/2022 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[fullname] [nvarchar](150) NOT NULL,
	[bank] [nvarchar](150) NULL,
	[card_number] [bigint] NULL,
	[email] [nvarchar](150) NULL,
	[country] [nvarchar](150) NULL,
	[pay_address] [nvarchar](150) NULL,
	[expYY] [int] NULL,
	[expMM] [int] NULL,
 CONSTRAINT [PK_payment] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 4/22/2022 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[price] [int] NULL,
	[release_date] [date] NULL,
	[detail] [varchar](100) NULL,
	[p_view] [int] NULL,
	[genre] [varchar](50) NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_img]    Script Date: 4/22/2022 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_img](
	[product_id] [int] NOT NULL,
	[img] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([account_id], [fullname], [username], [password], [date_of_bird], [phone], [email], [role]) VALUES (3, N'admin', N'admin', N'Ð3â*ãH®µfÂ
ì5…M©—', CAST(N'2022-07-22' AS Date), 1231234, N'123@1231234', N'admin')
INSERT [dbo].[account] ([account_id], [fullname], [username], [password], [date_of_bird], [phone], [email], [role]) VALUES (10, N'employee2242', N'employee', N'¥z$´ÅÖ­œ“ô"ø¿ÌXŒ', CAST(N'2022-04-22' AS Date), 9912001248, N'employee@123', N'staff')
INSERT [dbo].[account] ([account_id], [fullname], [username], [password], [date_of_bird], [phone], [email], [role]) VALUES (11, N'user12345', N'user12345', N'QG±ìÿª Ž2œIëO¹‰s.’
', NULL, NULL, NULL, N'user')
SET IDENTITY_INSERT [dbo].[account] OFF
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([bill_id], [account_id], [total_to_paid], [pay_type], [pay_status], [status], [date], [fullname], [email], [country], [b_address], [card_number], [name_on_card], [postalCode]) VALUES (1, 3, 2997, N'Paypal', N'Paid', N'Finish', CAST(N'2022-04-06T22:04:02.000' AS DateTime), N'Nguyen ABC', N'abc@gmail.com', N'Viet Nam', N'Hanoi Viet Nam', 12345678911111111, N'Nguyen ABC', NULL)
INSERT [dbo].[bill] ([bill_id], [account_id], [total_to_paid], [pay_type], [pay_status], [status], [date], [fullname], [email], [country], [b_address], [card_number], [name_on_card], [postalCode]) VALUES (2, 3, 3996, N'Paypal', N'Paid', N'Delivering', CAST(N'2022-04-06T22:21:26.000' AS DateTime), N'Nguyen ABC123', N'abc@gmail.com123', N'Viet Nam123', N'Hanoi Viet Nam123', 12345678911231, N'Nguyen ABC', NULL)
INSERT [dbo].[bill] ([bill_id], [account_id], [total_to_paid], [pay_type], [pay_status], [status], [date], [fullname], [email], [country], [b_address], [card_number], [name_on_card], [postalCode]) VALUES (4, 3, 3996, N'Paypal', N'Paid', N'In processing', CAST(N'2022-04-06T22:31:54.000' AS DateTime), N'Nguyen ABC', N'abc@gmail.com123', N'Viet Nam123', N'Hanoi Viet Nam123', 123456789112, N'Nguyen ABC', NULL)
SET IDENTITY_INSERT [dbo].[bill] OFF
INSERT [dbo].[bill_product] ([bill_id], [product_name], [quantity], [price]) VALUES (1, N'Laptop HU1', 1, 999)
INSERT [dbo].[bill_product] ([bill_id], [product_name], [quantity], [price]) VALUES (2, N'Laptop', 1, 999)
INSERT [dbo].[bill_product] ([bill_id], [product_name], [quantity], [price]) VALUES (5, N'Laptop', 1, 999)
SET IDENTITY_INSERT [dbo].[cart_account] ON 

INSERT [dbo].[cart_account] ([cart_id], [account_id]) VALUES (1016, 14)
SET IDENTITY_INSERT [dbo].[cart_account] OFF
INSERT [dbo].[cart_detail] ([cart_id], [product_id], [quantity]) VALUES (1016, 18, 2)
INSERT [dbo].[cart_detail] ([cart_id], [product_id], [quantity]) VALUES (1016, 25, 9)
INSERT [dbo].[comment] ([product_id], [account_id], [cmt], [cmtDate]) VALUES (18, 12, N'Laptop', CAST(N'2022-04-14T15:36:13.000' AS DateTime))
INSERT [dbo].[genre] ([genre_name]) VALUES (N'Computer - PC')
INSERT [dbo].[genre] ([genre_name]) VALUES (N'Keyboard')
INSERT [dbo].[genre] ([genre_name]) VALUES (N'Laptop')
SET IDENTITY_INSERT [dbo].[payment] ON 

INSERT [dbo].[payment] ([payment_id], [account_id], [fullname], [bank], [card_number], [email], [country], [pay_address], [expYY], [expMM]) VALUES (2, 3, N'Nguyen ABC', N'Paypal', 12345678911231, N'abc@gmail.com123', N'Viet Nam123', N'Hanoi Viet Nam123', 99, 12)
INSERT [dbo].[payment] ([payment_id], [account_id], [fullname], [bank], [card_number], [email], [country], [pay_address], [expYY], [expMM]) VALUES (3, 3, N'Nguyen ADMIN', N'Paypal', 9912399, N'123@123a', N'Viet Name', N'123 Ha Noi', 99, 12)
INSERT [dbo].[payment] ([payment_id], [account_id], [fullname], [bank], [card_number], [email], [country], [pay_address], [expYY], [expMM]) VALUES (5, 13, N'nguyen van A', N'Debit card', 9021309, N'a@123', N'VietNam', N'123 Hanoi', 99, 12)
SET IDENTITY_INSERT [dbo].[payment] OFF
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [name], [price], [release_date], [detail], [p_view], [genre]) VALUES (2, N'Keyboard HSSZ4', 999, CAST(N'2022-03-09' AS Date), N'Awesome product', 5, N'Keyboard')
INSERT [dbo].[product] ([product_id], [name], [price], [release_date], [detail], [p_view], [genre]) VALUES (6, N'Laptop A1', 999, CAST(N'2022-03-09' AS Date), N'pOweR LATOP', 1, N'Laptop')
INSERT [dbo].[product] ([product_id], [name], [price], [release_date], [detail], [p_view], [genre]) VALUES (7, N'Laptop A2', 999, CAST(N'2022-03-09' AS Date), N'pOweR LATOP', 0, N'Laptop')
SET IDENTITY_INSERT [dbo].[product] OFF
INSERT [dbo].[product_img] ([product_id], [img]) VALUES (17, N'20220420214648.nt-png.png')
INSERT [dbo].[product_img] ([product_id], [img]) VALUES (18, N'20220413150416.bac_6.jpeg')
INSERT [dbo].[product_img] ([product_id], [img]) VALUES (18, N'20220413150416.d-3mau.jpg')
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_account]    Script Date: 4/22/2022 7:25:16 PM ******/
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [IX_account] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_product]    Script Date: 4/22/2022 7:25:16 PM ******/
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [IX_product] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_account]
GO
ALTER TABLE [dbo].[bill_product]  WITH CHECK ADD  CONSTRAINT [FK_bill_product_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([bill_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bill_product] CHECK CONSTRAINT [FK_bill_product_bill]
GO
ALTER TABLE [dbo].[cart_account]  WITH CHECK ADD  CONSTRAINT [FK_cart_account_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_account] CHECK CONSTRAINT [FK_cart_account_account]
GO
ALTER TABLE [dbo].[cart_detail]  WITH CHECK ADD  CONSTRAINT [FK_cart_detail_cart_account] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart_account] ([cart_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_detail] CHECK CONSTRAINT [FK_cart_detail_cart_account]
GO
ALTER TABLE [dbo].[cart_detail]  WITH CHECK ADD  CONSTRAINT [FK_cart_detail_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_detail] CHECK CONSTRAINT [FK_cart_detail_product]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_account]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_product]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_account]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_genre] FOREIGN KEY([genre])
REFERENCES [dbo].[genre] ([genre_name])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_genre]
GO
ALTER TABLE [dbo].[product_img]  WITH CHECK ADD  CONSTRAINT [FK_product_img_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_img] CHECK CONSTRAINT [FK_product_img_product]
GO
